<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration Page</title>
    <head>
        <link rel="stylesheet" th:href="@{css/styles.css}">
    </head>
</head>
<body>
<h2>Registration Form</h2>
<form method="post" action="/register">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="submit" value="Register">
</form>
</body>
</html>
